@page
@model NourishingHands.Pages.Admin.NHEvents.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<br />
<h3>Delete</h3>

<h3>Are you sure you want to delete this Event?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Events.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Events.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Events.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Events.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Events.EventStartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Events.EventStartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Events.EventEndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Events.EventEndDate)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Events.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Events.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Events.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Events.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Events.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Events.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Events.ModifiedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Events.ModifiedOn)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Events.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Events.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Events.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Events.Address)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Events.Slots)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Events.Slots)
        </dd>*@
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Events.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
