@page
@model NourishingHands.Pages.Admin.EventsVlt.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventVolunteer[0].Events)
            </th>
            <th>
                Start Date & Time
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventVolunteer[0].Person)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EventVolunteer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Events.Name)
            </td>
            <td>
                @Convert.ToString(string.Format("{0:MM/dd/yy hh:mm tt}", item.Events.EventStartDate))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
