@page 
@model NourishingHands.Pages.Mentor.EmploymentModel
@{
    Layout = "_NhLayout";
}

<!-- START SECTION SHOP -->
<div class="section">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="heading_s1">
                    <h4>Employment Information</h4>
                </div>

                <form method="post" class="row">
                    <div class="form-group col-md-6">
                        <input asp-for="EmploymentHistory.Employer" required class="form-control" placeholder="Employer *">
                    </div>
                    <div class="form-group col-md-6">
                        <input asp-for="EmploymentHistory.JobTitle" required class="form-control" placeholder="Job Title *">
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="chek-form">
                            <div class="custome-checkbox">
                                <input class="form-check-input" type="checkbox" name="checkbox" id="differentaddress">
                                <label class="form-check-label label_info" for="differentaddress"><span>Is this your current employer?</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <input asp-for="EmploymentHistory.JobDescription" class="form-control" placeholder="Job Description *">
                    </div>
                    <div class="form-group col-md-6">
                        <input asp-for="EmploymentHistory.EmployerPhone" class="form-control" placeholder="Employer Phone *">
                    </div>
                    <div class="form-group col-md-6">
                        <input asp-for="EmploymentHistory.EmployerEmail" class="form-control" placeholder="Employer Email *">
                    </div>
                    <div class="form-group col-md-6">
                        <input asp-for="EmploymentHistory.StartDate" class="form-control" placeholder="Start Date *">
                    </div>
                    <div class="form-group col-md-6">
                        <input asp-for="EmploymentHistory.EndDate" class="form-control" placeholder="End Date *">
                    </div>
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-default"> Save and continue </button>
                    </div>
                    <br /><br /><br /><br />
                    <hr />
                    <br />



                </form>
                @if (Model.EmploymentHistories != null && Model.EmploymentHistories.Count > 0)
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <div class="heading_s1 mb-3">
                                    @*<h6>Employment History</h6>*@
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="th-sm">
                                                    Employer
                                                </th>
                                                <th class="th-sm">
                                                    Job Title
                                                </th>
                                                <th class="th-sm">
                                                    Description
                                                </th>
                                                <th class="th-sm">
                                                    Phone
                                                </th>
                                                <th class="th-sm">
                                                    Email
                                                </th>
                                                <th class="th-sm">
                                                    Start Date
                                                </th>
                                                <th class="th-sm">
                                                    End Date
                                                </th>
                                                <th class="th-sm">
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var employment in Model.EmploymentHistories)
                                            {
                                                <tr>
                                                    <td>@employment.Employer</td>
                                                    <td>@employment.JobTitle</td>
                                                    <td>@employment.JobDescription</td>
                                                    <td>@employment.EmployerPhone</td>
                                                    <td>@employment.EmployerEmail</td>
                                                    <td>@employment.StartDate</td>
                                                    <td>@employment.EndDate</td>
                                                    <td><button class="btn btn-default btn-block btn-sm edit" data-id="@employment.Id" id="edit" data-toggle="modal" data-target="#editEmployment" asp-page-handler="UpdateEmployment">Edit</button></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>

                }
            <div class="modal fade" tabindex="-1" role="dialog" id="editEmployment">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Product Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body"></div>
                    </div>
                </div>
            </div>

            </div>

        </div>
    </div>
</div>
<!-- END SECTION SHOP -->
@section scripts{
    <script>
        $(function () {
            $('#edit').on('click', function () {
                $('.modal-body').load("/Mentor/_UpdateEmployment?id=${$(this).data('id')}");
            });
        })
    </script>
}
